{% for target in targets %}
                <tr>                  
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <!-- ảnh hệ điều hành -->
                        <img                          
                          src="{{ url_for('static', filename='assets/img/targetsecurity.png') }}" 
                          class="avatar avatar-sm me-3"
                          alt="user1"
                        />
                      
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ target.hostname }}</h6> 
                        <p class="text-xs text-secondary mb-0">
                          {{ target.ip_address }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ target.server_type }}</p>
                    <p class="text-xs text-secondary mb-0">
                      {{ target.os }}
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{ target.status }}</span>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">Cross Site ScriptSS</p> <!-- Tên Vulnarebility -->
                    <p class="text-xs text-secondary mb-0">
                      Updated: {{ target.updated_at }}
                    </p>
                  </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-xs font-weight-bold">100%</span> <!-- Thành công được bảo nhiêu %-->
                        <div>
                          <div class="progress"> <!-- thay giá trị % Thành công được bảo nhiêu vô ở phía dưới-->
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  <td class="align-middle">
                    <a
                      class="cursor-pointer"
                      id="dropdownTable"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul
                      class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                      aria-labelledby="dropdownTable"
                      style="
                        color: black !important;
                        border: 1px solid black !important;
                      "
                    >
                      <li>
                        <a
                          class="dropdown-item border-radius-md"
                          href="#"
                          style="color: black !important"
                          data-target-id="{{target.server_id}}"
                          onclick="handleViewTarget('{{target.server_id}}')"
                          >Xem</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item border-radius-md"
                          href="javascript:;"
                          style="color: black !important"
                          data-target-id="{{target.server_id}}"
                          onclick="handleConnectTarget('{{target.server_id}}')"
                          >Connect</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item border-radius-md"
                          href="javascript:;"
                          style="color: black !important"
                          data-target-id="{{target.server_id}}"
                          onclick="handleDeleteTarget('{{target.server_id}}')"
                          >Xóa</a
                        >
                      </li>
                    </ul>
                  </td>
                </tr>
                {% endfor %}
                <!-- Xem target-->
                <script>
                  function handleViewTarget(idtarget){
                    //window.location.href = `/view-target/${idtarget}`;
                    
                    // mở trong tab mới
                    console.log('idtarget:', idtarget);
                    window.open(`/view-target?idtarget=${idtarget}`, '_blank');
                  }
                </script>

                <!-- Kết nối -->
                 <script>
                  function handleDeleteTarget(targetId) {
                    if (confirm(`Bạn có chắc chắn muốn xóa target ID: ${targetId}?`)) {
                      // Gọi API xóa
                      //fetch(`/api/delete_target/${targetId}`, { method: 'DELETE' })
                      // Reload trang sau khi xóa thành công
                    }
                  }
                 </script>