<!DOCTYPE html>
<html lang="en">

<head>
  {% include "includes/head.html" %}
  {% block extrastyle %}{% endblock extrastyle %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='assets/js/alertMess.js') }}"></script> <!-- Ccái này là để thông báo -->

</head>

<body class="g-sidenav-show  bg-gray-100">
  {% block sidebar %}
    {% include "includes/sidebar.html" %}
  {% endblock sidebar %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {% block navigation %}
        {% include "includes/navigation.html" %}
    {% endblock navigation %}
    
    {% block content %}{% endblock content %}
  </main>

  {% block configurator %}
    {% include "includes/configurator.html" %}
  {% endblock configurator %}
  
  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock extra_js %}
  <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-area"></div> <!-- Hỗ trợ hiển thị thông báo-->
</body>

</html>